html {
    scroll-behavior: smooth;
    background: #f0f0f0;
}
.welcomeTitle {
    font-family: 'Amarante', cursive;
    font-size: 2rem;
}
.promoTitle {
    font-family: 'Amarante', cursive;
    font-size: 2rem;
}
#main {
    margin-top: 10rem;
    margin-bottom: 10rem;
    line-height: 2rem;
}
.columns {
    margin-left: 0!important;
    margin-right: 0!important;
}
.link {
    color: #5ab9ea;
    transition: 0.3s ease;
}
.link:hover {
    color: #84ceeb;
}
#social a {
    color: white;
    transition: 0.3s ease;
}
#social a:hover {
    color: #84ceeb;
}
#downloadButton {
    color: white;
    border: 1px solid #84ceeb;
    padding: 1.25rem;
    letter-spacing: 0.125rem;
    transition: 0.3s ease-out;
}
#downloadButton:hover {
    color: black;
    background-color: #84ceeb;
}
#contactButton {
    color: black;
    border: 1px solid #84ceeb;
    padding: 1.25rem;
    letter-spacing: 0.125rem;
    transition: 0.3s ease-out;
}
#contactButton:hover {
    color: #84ceeb;
    background-color: black;
    border: 1px solid black;
}
#social li {
    display: inline;
    list-style-type: none;
    font-size: 2rem;
    vertical-align: center;
    margin-right: 1rem;
    margin-left: 0;
}
.technologies {
    margin-left: 2rem;
    list-style-type: disc;
}
.mainTitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
}
.miniTitle {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.25rem;
}
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  { 
    .welcomeTitle {
        font-size: 3rem;
    }
    .promoTitle {
        font-size: 3rem;
    }
    #main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #social li {
        margin-right: 1.5rem;
        margin-left: 0rem;
    }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  { 
    .welcomeTitle {
        font-size: 3.5rem;
    }
    .promoTitle {
        font-size: 3rem;
    }
    #main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #social li {
        margin-right: 2rem;
        margin-left: 0rem;
    }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  { 
    .welcomeTitle {
        font-size: 4rem;
    }
    .promoTitle {
        font-size: 3rem;
    }
    #main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #social li {
        margin-right: 2rem;
        margin-left: 0rem;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
    .welcomeTitle {
        font-size: 4rem;
    }
    .promoTitle {
        font-size: 3rem;
    }
    #main {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    #social li {
        margin-right: 2rem;
        margin-left: 0rem;
    }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
    .welcomeTitle {
        font-size: 5rem;
    }
    .promoTitle {
        font-size: 3rem;
    }
    #main {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    #social li {
        margin-right: 2rem;
        margin-left: 0rem;
    }
}
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
    .welcomeTitle {
        font-size: 5rem;
    }
    .promoTitle {
        font-size: 3rem;
    }
    #main {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    #social li {
        margin-right: 2rem;
        margin-left: 0rem;
    }
}

